In [9]:
import pandas as pd
import os
import glob
import re
import numpy as np

In [13]:
df = (pd.read_hdf(
    r"R:\Mike\LHA_dopamine\LH_NAC_Headfix_FP\Photometry\Pav Training\2_color_pav\Sucrose_to_sucralose\Training\Day_4\average\cue_GCAMPNAC_z_score_GCAMPNAC.h5"
).rolling(window=5, center=True).mean()
      )

In [14]:
df

,512581-220523-100913_output_1,512582-220523-105242_output_1,512584-220523-114039_output_1,514957-220523-122035_output_1,514958-220523-125628_output_1,514959-220523-142123_output_1,timestamps,mean,err
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.203847,-0.062716,0.275320,-0.228540,-0.095881,-0.000523,-9.998034,-0.052698,0.067919
3,-0.201181,-0.060794,0.275638,-0.225256,-0.095961,-0.001388,-9.997051,-0.051490,0.067537
4,-0.198600,-0.058885,0.275944,-0.221955,-0.096075,-0.002263,-9.996068,-0.050305,0.067162
...,...,...,...,...,...,...,...,...,...
30514,0.055226,-0.189082,0.401803,-0.069671,0.191804,0.268795,19.997051,0.109813,0.081958
30515,0.055091,-0.187861,0.401988,-0.067710,0.188220,0.267736,19.998034,0.109577,0.081582
30516,0.054853,-0.186671,0.402178,-0.065780,0.184580,0.266676,19.999017,0.109306,0.081216
30517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN